node_modules
*.tar.gz
.vscode
.DS_Store
.idea
__pycache__
*.py[cod]
*$py.class
*.so

# == end gitignore shared section ==

applications/
.travis.yml
Makefile*
*.log
.git/
.gitignore
.gitattributes
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*~
.project
